.MyPathMain {
    width: 100%;

    background-color: #545454;

    padding-top: 54px;
    padding-bottom: 65px;
}

.MyPathTitle {
    font-size: 42px;
    text-align: center;
    font-family: "Inter", sans-serif;

    color: white;

    margin-bottom: 51px;
}

.MyPathTrainWayContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.MyPathTrainWay {
    min-width: 1318px;
    height: 1120px;

    position: relative;
}

.MyPathTrainWayImage {
    border-radius: 50%;
    border: 3px solid #303030;

    opacity: 0.8;
    object-fit: cover;
}

.MyPathTrainImage1,
.MyPathTrainImage2,
.MyPathTrainImage3 {
    width: 692px;
    height: 40px;

    position: absolute;

    webkit-backface-visibility: hidden;

    opacity: 0;
}

.MyPathTrainImage1 {
    bottom: 0;
    left: 0;

    animation: train1 15s linear infinite;
}

.MyPathTrainImage2 {
    bottom: 0;
    right: 0;

    animation: train2 15s linear infinite;
}

.MyPathTrainImage3 {
    bottom: 0;
    left: 0;

    animation: train3 15s linear infinite;
}

@keyframes train1 {
    from {
        transform: translateX(-692px);
        opacity: 1;
    }
    33.333% {
        transform: translateX(1136px);
        opacity: 1;
    }
    33.334% {
        transform: translateX(1136px);
        opacity: 0;
    }
    33.335% {
        transform: translateX(-692px);
        opacity: 0;
    }
    to {
        transform: translateX(-692px);
        opacity: 1;
    }
}

@keyframes train2 {
    from {
        transform: translateX(629px) scaleX(-1);
        opacity: 1;
    }
    33.333% {
        transform: translateX(629px) scaleX(-1);
        opacity: 1;
    }
    66.666% {
        transform: translateX(-1136px) scaleX(-1);
        opacity: 1;
    }
    66.667% {
        transform: translateX(-1136px) scaleX(-1);
        opacity: 0;
    }
    66.668% {
        transform: translateX(629px) scaleX(-1);
        opacity: 0;
    }
    66.669% {
        transform: translateX(629px) scaleX(-1);
        opacity: 1;
    }
    66.669% {
        transform: translateX(629px) scaleX(-1);
        opacity: 1;
    }
    to {
        transform: translateX(629px) scaleX(-1);
        opacity: 1;
    }
}

@keyframes train3 {
    from {
        transform: translateX(-692px);
        opacity: 1;
    }
    66.666% {
        transform: translateX(-692px);
        opacity: 1;
    }
    99.997% {
        transform: translateX(1136px);
        opacity: 1;
    }
    99.998% {
        transform: translateX(1136px);
        opacity: 0;
    }
    99.999% {
        transform: translateX(-692px);
        opacity: 0;
    }
    to {
        transform: translateX(-692px);
        opacity: 1;
    }
}

.MyPathTrainWayCircle {
    position: absolute;

    width: 200px;
    height: 200px;

    border-radius: 50%;

    background-color: #303030;

    z-index: 99;
}

.MyPathTrainWayLine {
    position: absolute;

    width: 1157px;
    height: 49px;

    background-color: #303030;

    overflow: hidden;
}

.MyPathTrainWayCircle1 {
    left: 0;
    top: 0;
}

.MyPathTrainWayCircle2 {
    right: 0;
    top: 299px;
}

.MyPathTrainWayCircle3 {
    left: 0;
    top: 598px;
}

.MyPathTrainWayCircle4 {
    right: 0;
    top: 897px;
}

.MyPathTrainWayLine1 {
    left: 100px;
    top: 75px;

    transform-origin: left top;
    transform: rotate(15deg);
    z-index: 3;
}

.MyPathTrainWayLine2 {
    right: 100px;
    top: 374px;

    transform-origin: right top;
    transform: rotate(-15deg);
    z-index: 2;
}

.MyPathTrainWayLine3 {
    left: 100px;
    top: 673px;

    transform-origin: left top;
    transform: rotate(15deg);
    z-index: 1;
}

.MyPathTrainWayText {
    font-size: 26px;
    font-family: "Inter", sans-serif;

    color: white;
}

.MyPathTrainWayTextContainer {
    width: 600px;
    height: 200px;

    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
}

.MyPathTrainWayTextContainer1 {
    top: 0;
    right: 0;
}

.MyPathTrainWayTextContainer2 {
    top: 299px;
    left: 0;
}

.MyPathTrainWayTextContainer3 {
    top: 598px;
    right: 0;
}

.MyPathTrainWayTextContainer4 {
    top: 897px;
    left: 0;
}

.MyPathEndTextContainer {
    display: flex;
    justify-content: center;

    margin-top: 51px;
}

.MyPathEndText {
    font-size: 26px;
    font-family: "Inter", sans-serif;

    color: white;

    width: 800px;
    text-align: center;
}

@media (max-width: 1600px) {
    .MyPathTitle {
        font-size: 36px;
        margin-bottom: 51px;
    }

    .MyPathTrainWayText {
        font-size: 22px;
    }

    .MyPathEndText {
        font-size: 22px;
    }
}

@media (max-width: 1365px) {
    .MyPathTrainWayContainer {
        height: 840px;
    }

    .MyPathTrainWay {
        transform: scale(0.75);
    }

    .MyPathTrainWayText {
        font-size: 26px;
        width: 600px;
    }

    .MyPathEndTextContainer {
        margin-top: 40px;
    }
}

@media (max-width: 1277px) {
    .MyPathMain {
        padding-top: 30px;
    }

    .MyPathTitle {
        font-size: 28px;
        margin-bottom: 30px;
    }

    .MyPathTrainWayContainer {
        height: 560px;
    }

    .MyPathTrainWay {
        transform: scale(0.5);
    }

    .MyPathTrainWayText {
        font-size: 32px;
    }

    .MyPathEndText {
        font-size: 18px;
        width: 500px;
    }

    .MyPathEndTextContainer {
        margin-top: 30px;
    }
}

@media (max-width: 768px) {
    .MyPathTitle {
        font-size: 24px;
        margin-bottom: 30px;
    }

    .MyPathTrainWayContainer {
        height: 448px;
    }

    .MyPathTrainWay {
        transform: scale(0.4);
    }

    .MyPathTrainWayText {
        font-size: 36px;
    }

    .MyPathEndText {
        font-size: 16px;
        width: 500px;
    }
}

@media (max-width: 700px) {
    .MyPathTrainWayContainer {
        height: auto;
    }

    .MyPathTrainWay {
        transform: scale(1);
        display: grid;
        grid-template-columns: 100px 1fr;
        grid-template-rows: 120px 120px 120px 120px;
        gap: 20px;

        min-width: 0;
        height: 520px;

        position: static;
    }

    .MyPathTrainWayCircle {
        position: static;

        transform: scale(0.5) translateX(-60px) translateY(-75px);
    }

    .MyPathTrainWayTextContainer {
        position: static;
        width: auto;
        height: 100%;

        padding-left: 20px;
        padding-right: 15px;
    }

    .MyPathTrainWayText {
        width: auto;
        height: auto;
    }

    .MyPathTrainWayLine {
        display: none;
    }

    .MyPathTrainWayText {
        font-size: 18px;
    }

    .MyPathEndTextContainer {
        margin-top: 60px;
    }

    .MyPathEndText {
        font-size: 18px;
        width: 500px;
    }
}

@media (max-width: 500px) {
    .MyPathTitle {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .MyPathEndText {
        font-size: 18px;
        width: 300px;
    }
}

@media (max-width: 400px) {
    .MyPathTrainWayText {
        font-size: 16px;
    }

    .MyPathTrainWay {
        gap: 10px;
    }

    .MyPathTrainWayCircle {
        width: 150px;
        height: 150px;

        margin: 25px;
        margin-right: 10px;
    }

    .MyPathTrainWayImage {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 350px) {
    .MyPathTrainWayText {
        font-size: 14px;
    }

    .MyPathTrainWay {
        gap: 10px;
    }

    .MyPathEndTextContainer {
        margin-top: 120px;
    }
}

@media (max-width: 320px) {
    .MyPathTrainWay {
        gap: 10px;
        grid-template-columns: 80px 1fr;
    }

    .MyPathTrainWayTextContainer {
        padding: 0;
    }

    .MyPathTextContainer {
        margin-top: 120px;
        padding: 0;
    }

    .MyPathTrainWayCircle {
        width: 120px;
        height: 120px;
        margin: 0;
        margin-left: 10px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .MyPathTrainWayImage {
        width: 120px;
        height: 120px;
    }
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
