.ContactsMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: #545454;

    padding-bottom: 70px;
}

.ContactsTitle {
    font-size: 42px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    
    color: white;

    margin-bottom: 59px;
}

.ContactsForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 30px;

    margin-bottom: 38px;
}

.ContactsFormItem {
    width: 753px;
    padding: 20px 0;
    text-align: center;

    outline: none;
    border: solid 3px rgba(255, 255, 255, 0.5);
    border-radius: 100px;

    background-color: transparent;

    font-size: 24px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.2s;
}

.ContactsFormItem:hover {
    border-color: white;
}

.ContactsFormItem:focus {
    border-color: white;
    color: white;
}

.ContactsFormItem:not(:placeholder-shown):not(:focus):not([type=submit]) {
    color: white;
    border-color: white;
    background-color: rgba(217, 217, 217, 0.20);
}

.ContactsFormItem::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.ContactsFormItem:focus::placeholder {
    color: transparent;
  }

.ContactsFormMessageText {
    min-height: 343px;
    resize: none;

    border-radius: 37px;
}

.ContactsFormSubmitButton {
    width: 384px;
    cursor: pointer;
}

.ContactsFormSubmitButton:hover {
    color: white;
    border-color: white;
}

.ContactsIconsGroup {
    display: flex;
    gap: 12px;
}

.ContactsIconsGroupItem {
    width: 75px;
    height: 75px;
    opacity: 0.5;
    transition: all 0.2s;
}

.ContactsIconsGroupItem:hover {
    opacity: 1;
}

@media (max-width: 1600px) {
    .ContactsTitle {
        font-size: 36px;
        margin-bottom: 50px;
    }
}


@media (max-width: 1277px) {
    .ContactsTitle {
        font-size: 28px;
        margin-bottom: 50px;
    }

    .ContactsForm {
        gap: 25px;
    }

    .ContactsFormItem {
        font-size: 20px;
        width: 600px;
        padding: 15px 0;
    }

    .ContactsFormMessageText {
        min-height: 240px;
    }
}

@media (max-width: 1000px) {
    .ContactsTitle {
        margin-bottom: 36px;
    }

    .ContactsForm {
        gap: 22px;
    }
}

@media (max-width: 900px) {
    .ContactsTitle {
        margin-bottom: 28px;
    }

    .ContactsFormItem {
        font-size: 18px;
        width: 500px;
        padding: 13px 0;
    }

    .ContactsFormMessageText {
        min-height: 200px;
    }

    .ContactsIconsGroupItem {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 768px) {
    .ContactsTitle {
        font-size: 24px;
        margin-bottom: 40px;
    }
}

@media (max-width: 600px) {
    .ContactsTitle {
        margin-bottom: 25px;
    }

    .ContactsFormItem {
        font-size: 16px;
        width: 400px;
        padding: 10px 0;
    }

    .ContactsFormMessageText {
        min-height: 150px;
    }

    .ContactsIconsGroupItem {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 500px) {
    .ContactsTitle {
        font-size: 24px;
        margin-bottom: 20px;
    }
}

@media (max-width: 440px) {
    .ContactsTitle {
        margin-bottom: 20px;
    }

    .ContactsFormItem {
        width: 300px;
    }

    .ContactsIconsGroupItem {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 350px) {
    .ContactsFormItem {
        width: 270px;
    }
}

@media (max-width: 320px) {
    .ContactsFormItem {
        width: 250px;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');